@import "/src/styles/variables";

.container {
    right: 0;
    top: 0;
    width: 100vw;
    margin: 0 auto;
  }

  .main{
    display: block;
  }
  
  .movie-list {
    margin: 30px 0;
    .movie-cards{
      gap: 15px;
    }
  }

// Bill board Styling

  .hero {
    position: relative;
    height: 500px;
    background-image: url("/assets/images/bill.jpg");
    background-size: cover;
    background-position: bottom;

    .hero-content {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 20px;
      color: #fff;

      .description {
        font-size: 1.2rem;
        margin-bottom: 30px;
      }
      
      .watch-button {
        padding: 12px 24px;
        font-size: 1.2rem;
        background-color: #1f1f1f;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
      h1 {
        font-size: 3rem;
        margin-bottom: 20px;
      }

    }

  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }


/* CSS for movie card */
.movie-card {
    padding: 10px;
    position: relative;
    width: 250px;
    border-radius: 8px;
    overflow: hidden;
    z-index: 1;
    box-shadow: 4px 4px 4px var(--shadow);
    transition: transform 0.2s ease, box-shadow 0.2s ease;

    img {
      width: 100%;
      height: 70%; /* Adjust the height based on your desired aspect ratio */
      object-fit: cover;
      border-radius: 8px 8px 0 0;
    }

    .movie-title {
      position: absolute;
      top: 1rem;
      left: 1rem;
      padding: 5px;
      background-color: rgba(0, 0, 0, 0.2);
      color: #fff;
      border-radius: 3px;
      font-size: 16px;
    }

    .movie-detail{
      padding: 15px;
    }

    .movie-genre {
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 6px;
      word-break: break-all;
    }
  }
  
  
  .movie-card:hover {
    transform: scale(1.05) translateY(-20px); 
    z-index: 2;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15); 

  }
  
.movie-card:hover .additional-details {
    display: block;
    opacity: 1;
    transform: translateY(0);
  }
  
  .additional-details {
      padding: 10px;
      display: none; /* Hide the details initially */
      background-color: var(--bgColor);
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      box-sizing: border-box;
      min-height: 82px;
   

    p{
      line-height: 1.1;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 3;
    }
  }
  
  .no-data-found{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    .no-data {
      text-align: center;
      &-icon {
        color: gray;
        font-size: 4rem;
      }
      &-title {
        font-size: 1.6rem;
      }
    }
  }

  
  /* Media queries for responsiveness */
  @media (max-width: 768px) {
    .hero {
      height: 300px;
    }
  
    .hero-content {
      padding: 10px;
    }
  
    .hero-content h1 {
      font-size: 2rem;
    }
  
    .description {
      font-size: 1rem;
      margin-bottom: 20px;
  
    }
  
    .watch-button {
      padding: 8px 16px;
      font-size: 1rem;
    }

    .movie-cards {
      width: 100%;
      margin-left: 0.0rem;
    }
    .movie-card{
      width: 100%;
    }
    .additional-details{
      display: block;
      width: 90%;
      margin-left: 1rem;
      padding: 10px;
    }
  }
 
  .paginator::ng-deep {
    .mat-mdc-paginator{
      background: var(--bgColor);
    }
    .mat-mdc-paginator-page-size {
      display: none;
    }
    .mat-mdc-paginator-range-label {
      display: none;
    }
    .mat-mdc-button-persistent-ripple{
      border: 1px solid gray;
    }
    .mat-mdc-icon-button{
      border: 1 px slategrey;
      margin: 0.5rem;
      box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.1);
    }
    .mat-mdc-paginator-icon{
      fill: var(--textColor) !important;
    }
  } 