<header class="main-header">
    <div class="header-content mx-3 d-flex justify-content-between align-items-center">
      <div class="logo">
        <img src="assets/images/logo.jpg" alt="Netflix Logo">
      </div>
      <div class="d-flex justify-content-center align-items-center">
        <div class="mx-2">
          <label class="toggle-switch">
            <input type="checkbox" (change)="toggleDarkMode()">
            <span class="slider"></span>
          </label>
        </div>
        <nav class="navigation">
          <a href="#">Movies</a>
        </nav>
        <div class="user-profile">
          <img src="assets/images/tom.jpeg">
        </div>
      </div>
    </div>
  </header>
  