<header class="main-header">
    <div class="header-content d-flex justify-content-between align-items-center">
      <div class="logo">
        <img src="assets/images/logo.jpg" alt="Netflix Logo">
      </div>
      <div class="d-flex justify-content-center align-items-center">
        <nav class="navigation">
          <a href="#">Home</a>
          <a href="#">TV Shows</a>
          <a href="#">Movies</a>
        </nav>
        <div class="user-profile">
          <img src="assets/images/tom.jpeg">
        </div>
      </div>
    </div>
  </header>
  