<header class="main-header">
    <div class="header-content mx-3 d-flex justify-content-between align-items-center">
      <div class="logo">
        <img src="assets/images/logo.jpg" alt="Netflix Logo">
      </div>
      <div class="d-flex justify-content-center align-items-center">
        <div class="mx-2 d-flex flex-column align-items-center">
          <mat-slide-toggle [ngModel]="isDark" (change)="toggleDarkMode()"></mat-slide-toggle>
          <small>Dark Mode</small>
        </div>
        <!-- <nav class="navigation">
          <a href="#">Movies</a>
        </nav> -->
        <div class="user-profile justify-content-center">
          <img src="assets/images/tom.jpeg">
          <button class="logout-button" (click)="logOut()">Logout</button>
        </div>
      </div>
    </div>
  </header>
  