.main-header {
    background-color: #252630;
    color: #fff;
    padding: 20px 0;
  }
  
  .header-content {
    margin: 0 auto;
    padding: 0 10px;
  }
  
  .logo img {
    height: 40px;
  }
  
  .navigation a {
    color: #fff;
    text-decoration: none;
    margin-right: 15px;
  }
  
  .user-profile {
    height: 40px;
    width: 40px;

    img{
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 50%;
      
    }
  }

  .toggle-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
  }
  
  .toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    border-radius: 30px;
    transition: 0.4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 2px;
    background-color: black;
    border-radius: 50%;
    transition: 0.4s;
  }
  
  input:checked + .slider {
    background-color: #000;
  }

  
  input:checked + .slider:before {
    background-color: #fff;
    transform: translateX(26px);
  }
  