/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.has-error {
    color: #a94442 !important;
    font-size: 12px !important;
    font-style: italic !important;
  }